@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "微软雅黑";
	font-size: 100%;
	background: url(../images/siteBackground.jpg);
	margin: 0;
	padding: 0;
	color: #000;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
li{ list-style-type:none;font-family: "微软雅黑";}
a{text-decoration:none;font-family: "微软雅黑";}


header p {
    color: white;
    float: right;
	margin-right:20px;
}
header p a {
    color: white;
	line-height:35px;
}
header p a:hover{color:red}

.panel {
    overflow: hidden;
    text-align: left;
}
.panel-header, .panel-body {
    border-style: solid;
    border-width: 1px;
}
.panel-header {
    padding: 5px;
    position: relative;
}
.panel-title {
    
}
.panel-header-noborder {
    border-width: 0 0 1px;
}
.datagrid{background:#ffffff;}
.datagrid-body {
    margin: 0;
    overflow: auto;
    padding: 0;
}
.datagrid-view{width:100%;}
.datagrid-view table{width:100%;}
.datagrid-view table .wenzi-height{ height:25px;}
.datagrid-view table .pic-height{height:auto;}
.datagrid-view table .pic-height img{margin:10px auto;}
.datagrid-view table .touxiang-height{ height:25px;}
.datagrid-view table .yinyue-height{ height:25px;}
.datagrid-view table .shipin-height{ height:25px;}
.datagrid-view .datagrid-cell-wenzi{width:90%;}
.datagrid-view .datagrid-cell-pic{width:90%; text-align:center;}
.datagrid-view .datagrid-header-check{width:5%;}
.datagrid-view .datagrid-cell-check{width:5%;}
.datagrid-wenzi{width:60%; margin-left:20px; text-align:left; text-indent:2em;}
tr.pic-height:hover
{
background-color:#CCC;
}
.bgblue{background:blue;}
.datagrid-header-check, .datagrid-cell-check {
    font-size: 1px;
    height: 18px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 27px;
}
.rownumber{text-align:center;}

.pagination-page-list,.pagination-page-sex {
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 0 6px;
    padding: 1px 2px;
    width: auto;
}
.datagrid-toolbar {
    border-style: solid;
    border-width: 0 0 1px;
    height: auto;
    padding: 5px 2px;
}
a.l-btn {
  background-position: right 0;
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  height: 24px;
  padding-right: 18px;
  cursor: pointer;
  outline: none;
}
a.l-btn-plain {
  padding-right: 5px;
  border: 0;
  padding: 1px 6px 1px 1px;
}
a.l-btn-disabled {
  color: #ccc;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
a.l-btn span.l-btn-left {
  display: inline-block;
  background-position: 0 -48px;
  padding: 4px 0px 4px 18px;
  line-height: 16px;
  height: 16px;
}
a.l-btn-plain span.l-btn-left {
  padding-left: 5px;
}
a.l-btn span span.l-btn-text {
  display: inline-block;
  vertical-align: baseline;
  width: auto;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color:#ff0000;
}
a.l-btn span span.l-btn-icon-left {
  padding: 0 0 0 20px;
  background-position: left center;
  background:url('icons/ok.png') no-repeat;
}
a.l-btn span span.l-btn-icon-right {
  padding: 0 20px 0 0;
  background-position: right center;
}
a.l-btn span span span.l-btn-empty {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 16px;
}
a:hover.l-btn {
  background-position: right -24px;
  outline: none;
  text-decoration: none;
}
a:hover.l-btn span.l-btn-left {
  background-position: 0 bottom;
}
a:hover.l-btn-plain {
  padding: 0 5px 0 0;
}
a:hover.l-btn-disabled {
  background-position: right 0;
}
a:hover.l-btn-disabled span.l-btn-left {
  background-position: 0 -48px;
}
a.l-btn .l-btn-focus {
  outline: #0000FF dotted thin;
}
a.l-btn {
  color: #444;
  background-image: url('images/linkbutton_bg.png');
  background-repeat: no-repeat;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
a.l-btn span.l-btn-left {
  background-image: url('images/linkbutton_bg.png');
  background-repeat: no-repeat;
}
a.l-btn-plain,
a.l-btn-plain span.l-btn-left {
  background: transparent;
  border: 0;
  filter: none;
}
a:hover.l-btn-plain {
  background: #e2e2e2;
  color: #000000;
  border: 1px solid #ccc;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
a.l-btn-disabled,
a:hover.l-btn-disabled {
  color: #444;
  filter: alpha(opacity=50);
}
a.l-btn-plain-disabled,
a:hover.l-btn-plain-disabled {
  background: transparent;
  filter: alpha(opacity=50);
}
a.l-btn-selected,
a:hover.l-btn-selected {
  background-position: right -24px;
}
a.l-btn-selected span.l-btn-left,
a:hover.l-btn-selected span.l-btn-left {
  background-position: 0 bottom;
}
a.l-btn-plain-selected,
a:hover.l-btn-plain-selected {
  background: #ddd;
}

.datagrid-cell-text{width:50%; margin:0 auto; text-align:left; text-indent:2em;}
.datagrid-cell-picmax{max-width:50%; margin:0 auto;}
@media screen and (max-width:768px){
	.datagrid-cell-text{width:90%;}
	.datagrid-cell-picmax{max-width:80%;}
	.navbar{display:none;}
	
}


.place{height:60px; width:100%; line-height:60px; font-size:18px;color:#ff6666;}
.main2{background:#ffffff; width:780px; padding:0; min-height:700px;}
.shipinbox{width:60%; margin:0 auto; margin-top:20px;}
.vitem{margin-top:15px;}
.vitem span{color:blue;}
.vbox{margin-top:20px; text-align:center}
.musicbox0{width:50%; height:50px; margin-top:20px;}
.m-head{width:100%; display:none;margin:10px auto;padding: 0;position:relative;}
.m-wel{height:30px; line-height:30px; float:left; font-size:16px; margin-left:20px;}
.m-mune{width:60px; height:30px; line-height:30px; float:right; border:1px solid #000; text-align:center; margin-right:10px;}
@media screen and (max-width:768px){
	.shipinbox{width:95%;}
	.musicbox0{width:80%; height:50px;}
	.sidebar-nav{display:none; margin-top:60px;}
	.m-head{display:block;}
	.m-mune:hover{cursor:pointer;}
	.span9{margin-top:20px;}
	}


.dateinput{padding:6px;border:1px solid #d3d3d3}
.baobiaotop{background:#333; color:#FFF;}

.zichan{width:90%;}
.zichan ul {
    font-size: 14px;
    line-height: 23px;
}
.zichan li {
    padding: 10px 0;
}
.zichan li a{margin-left:20px;}
.zichan li span.is-t {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    width: 150px;
}
#tixian{display:none; padding-left:80px;}
#dongjiedesc{display:none; padding-left:80px;}
.zichan form{ margin-top:10px;}
.zichan input{border:1px #000 solid;}
.ml20{margin-left:20px;}
.zuzhi{background:#ffffff; float:left;}
.zuzhi .top{ width:100%; height:30px; line-height:30px; background:#ccc; font-size:18px; float:left; margin-top:20px;}
.zuzhi .top span{margin-left:5%;}
.zuzhi .bottom{width:90%;}
.zuzhi .bottom ul {
}
.zuzhi .bottom li {
	width:150px;
	height:50px;
	margin-left:5%;
	margin-top:10px;
	float:left;
	font-size:16px;
	padding:0;
}
.send{float:right; margin-right:10px;}

.sendto{margin-left:5%; }
.sendto span{height:30px; line-height:30px;}
.sendto input[type="checkbox"]{ margin:0; padding:0; margin-left:10px;}

.sendmessbox{width:100%; margin:0 auto; text-align:center;}
#txtcontent{width:90%; margin-top:20px; height:200px;}


.xiaoxinum{float:right;}
.red{color:red;}




.pagetorpbox .sel {
    height: 24px;
    line-height: 24px;
    padding: 15px 0;
    top: 23px;
    width: 250px;
}
.pagetorpbox .sel input[type="checkbox"]{ margin:0; padding:0; margin-left:30px;}
.pagetorpbox a.del-all2 {
    border: 0 none;
}

.list-message .listi {
    height: 30px;
}
.list-message .list-box {
}
.list-message .topmsg {
    padding-top: 40px;
}

.list-message .list-box .user-name {
    clear: none;
    height: 20px;
    line-height: 120%;
    width: 480px;
}
.list-message .list-box .info {
    line-height: 150%;
    padding-top: 6px;
    width: 480px;
}
.list-message .list-box .fs {
    font-size: 12px;
    margin-right: 10px;
}
a.grow {
    color: #a38364;
}
.list-message .infomes {
    background-image: url("../images/elect.gif");
    background-position: left center;
    background-repeat: no-repeat;
    float: right;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
.list-message .back {
    background-image: url("../images/back.gif");
    background-position: left center;
    background-repeat: no-repeat;
    float: right;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
.list-message .top {
    background-image: url("../images/top.gif");
    background-position: left center;
    background-repeat: no-repeat;
    float: right;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
.list-message .list-box .nevs {
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
}
.list-message .list-box .time {
    color: #999999;
    font-size: 12px;
    font-style: normal;
    text-align: right;
}
.list-message .list-box .user-photo {
    height: 60px;
    width: 60px;
}
.list-message .list-box .user-photo img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 2px;
}
.message-block .list-message .list-box .nevs h1 {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 5px 0;
}
.list-message .list-box .nevs .rig {
    padding-left: 5px;
}
ul.list-box li{padding:10px 0;background:url(images/dashed-bg.gif) repeat-x 0 bottom;position:relative;overflow:hidden;width:100%;vertical-align:bottom;}
ul.list-box li a.del-msg{display:block;width:12px;height:12px;overflow:hidden;text-indent:-1000px;background:url(images/popup-cmbg.gif) no-repeat;position:absolute;right:10px;top:12x;}
ul.list-box li a.del-msg:hover{background-position:-12px 0;}
ul.list-box li span.chk-area{float:left;padding-right:8px;}
ul.list-box li span.chk-area input.ckb{width:13px;height:13px;}
ul.list-box li .msg-box{float:left;overflow:hidden; width:90%;}
ul.list-box li .msg-box img.msg-photo{float:left;padding:2px;border:1px solid #CCC;}
ul.list-box li .msg-box .msg-body{padding:0 0 10px 65px;}
ul.list-box li .msg-box .msg-from{margin-bottom:5px;font-weight:normal;}
ul.list-box li .msg-box .msg-new{font-weight:bold;}
ul.list-box li .msg-box .msg-txt{line-height:1.5em;font-size:14px; text-indent:2em;}

.page-box {
    min-height: 25px;
    padding: 30px 0;margin:0 auto; margin-left:20px; width:90%;
}
.page-box .pagination {
}
.page-box .pagination ul {
    float: left;
}
.page-box .pagination li {
    float: left;
    margin-right: 10px;
    text-align: center;
}
.page-box .pagination li a {
    border: 1px solid #fff;
    float: left;
    font: 14px/22px Arial;
    height: 22px;
    padding: 0 7px;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
}
.page-box .pagination li a:hover {
    border: 1px solid #ed4259;
}
.page-box .pagination .lbf-pagination-next, .page-box .pagination .lbf-pagination-prev {
    font-family: simsun;
    line-height: 24px;
}
.page-box .pagination .lbf-pagination-current {
    background: #ed4259 none repeat scroll 0 0;
    border: 1px solid #ed4259;
    color: #fff;
}
.page-box .pagination .lbf-pagination-disabled {
    color: #ccc;
    cursor: default;
}
.page-box .pagination .lbf-pagination-disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
}
.page-box .pagination .lbf-pagination-jump {
    float: left;
}
.page-box .pagination .lbf-pagination-jump input {
    border: 1px solid #f2f2f2;
    display: inline-block;
    font: 12px/22px Arial;
    height: 22px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}
.page-box .pagination .lbf-pagination-jump input:focus {
    border: 1px solid #bbdaff;
}
.page-box .pagination .lbf-pagination-jump .lbf-pagination-go {
    border: 1px solid #f2f2f2;
    display: inline-block;
    font: 12px/22px PingFangSC-Regular,HelveticaNeue-Light,"Helvetica Neue Light","Microsoft YaHei",sans-serif;
    height: 22px;
    text-align: center;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
    vertical-align: middle;
    width: 34px;
}
.page-box .pagination .lbf-pagination-jump .lbf-pagination-go:hover {
    border: 1px solid #ed4259;
}

.cf {
}
.cf::after, .cf::before {
    content: "";
    display: table;
}
.cf::after {
    clear: both;
}
.fl {
    float: left;
}

.title{text-align:center;}
.content table{margin:0 auto;}

/*大图 start*/
#bigimage { position:absolute; display:none; }
#bigimage img { width:400px; height:400px; padding:5px; background:#fff; border:1px solid #e3e3e3; }
/*大图 end*/
@media screen and (max-width: 768px) {
  tr.pic-height:hover {
      background-color: #ffffff;
  }
}